body {
  margin: 20px;
  font-family: Courier New;
}

.question {
  padding: 10px;
}

.tbl {
  
  border-collapse: collapse;

}

td {
  padding: 10px;
  
}

.tbl, td {
  border: 1px black solid;
}

#q {
  height: 70px;
  width: 200px;
}
button {
 
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.side {
  border: 1px dotted black;
  opacity: 0.5;
  padding: 10px;
  /*display: inline-block;*/
  width: 200px;
  height: 40px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  border: 1px solid black;
  padding: 10px;
  /*display: inline-block;*/
  height: 40px;
  width: 200px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.but {
  border-radius: 20px;
  display: inline-block;

}
