body {
  margin: 20px;
  font-family: Courier New;
}

.question {
  padding: 10px;
}

table {

  border-collapse: collapse;
}

td {
  padding: 10px;
  width: 200px;
  cursor: pointer;
}

.tbl, td {
  border: 1px black solid;
  width: 200px;
}

.m {
  cursor: pointer;
}

#q {
  height: 70px;
}
button {
 
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.side {
  border: 1px dotted black;
  opacity: 0.5;
  width: 200px;
  max-width:200px;
  height: 40px;
  text-align: center;
}
.main {
  border: 1px solid black;
  width: 200px;
  text-align: center;
  max-width:200px;
}
.but {
  border-radius: 20px;
  display: inline-block;
}
.buttd {
  text-align: center;
}

.nope {
  border: none;
}