body {
  margin: 20px;
}

.question {
  padding: 10px;
}

table {
  border-collapse: collapse;
}

td {
  padding: 10px;
  
}

table, td {
  border: 1px black solid;
}

#q {
  height: 70px;
  width: 200px;
}